@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #1abc9c;
    display: block;
    border: none;
    font-family: inherit;
    color: white;
    font-size: 1.3rem;
    width: 100%;
    padding: 15px;
}

button:hover {
    background-color: #108870;
}

button:focus {
    background-color: #0c705c;
    outline: none;
}